#root > div > form > input[type=file] {
    margin-top: 25%;
    margin-left: 25%;
    color: white;
}

#root > div > div:nth-child(3) {
    padding-top: 5%;
}

.fast-forward-feed {
    margin-left: 45%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.item-header3 {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 5%;
    padding-bottom: 1%;
}

.item-header {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 5%;
}

.item-wrapper {
    box-shadow: rgb(255 255 255 / 12%) 0px 1px 1px;
    padding-bottom: 2%;
}

.item-header2 {
    display: flex;
    gap: 10px;
    color: white;
    padding-bottom: 5px;
}

.profileImage {
    width: 50px;
    height: 50px;
    border-radius: 33px;
}

.caption {
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
}

.video {
    margin-left: 9%;
    padding-top: 0;
    top: 0;
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    cursor: pointer;
}

.video-username {
    font-weight: bold;
    font-size: 18px;
}

.video-username:hover {
    cursor: pointer;
    text-decoration: underline;
}

.video-name {
    font-size: 14px;
    margin-top: 4px;
}

#root > div > div.fastForward-wrapper {
    display: flex;
    align-items: center;
    height: 890px;
    width: 100%;
}

#root > div > div.fastForward-wrapper > video {
    background-color: black;
}


.video-comment {
    display: flex;
    gap: 10px;
}

#comment-icon {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.9);;
    margin-top: 510px;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 33px;
    background-color: grey;
}

#comment-icon:hover {
    cursor: pointer;
}

.video-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.comments-sidebar {
    height: 700px;
    width: 100%;
}

.comment-counter {
    color: white;
    font-size: 12px;
}

.textarea-comments {
    position: absolute;
    border-top: .3px solid rgb(89, 88, 88);
    padding-top: 15px;
    width: 700px;
}

#form1 > label > input[type=text] {
    border: none;
    background-color: rgb(46, 46, 46);
    caret-color: rgb(255, 59, 92);
    color: rgba(255, 255, 255, 0.9);
    outline: none;
    width: 70%;
    height: 35px;
    padding-left: 15px;
    margin-left: 5%;
    border-radius: 7px;
}


.comments-wrapper {
    height: 100%;
    width: 700px;
}

#form1 > button {
    margin-left: 5px;
    border: none;
    background-color: rgb(18, 18, 18);
    color: rgb(156, 155, 155);
    cursor: pointer;
}

#form1 > ul {
    width: 500px;
}

.comment-wrapper2 {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
}

.profileImage2 {
    width: 28px;
    height: 28px;
    border-radius: 33px;
}

#root > div > div.fastForward-wrapper > div > div.comments-wrapper > div > div.scroll-body > div > div.item-header > div {
    color: white;
    font-size: 18px;
}

.comment-body {
    margin-left: 11.5%;
    margin-top: 5px;
    top: 0;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
}

.comment-buttons {
    margin-left: 11.5%;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    color: rgba(255, 255, 255, 0.5);;
    font-size: 14px;
    cursor: pointer;
}

.scroll-body {
    overflow-y: scroll;
    max-height: 600px;
}

.edit-text {
    margin-left: 11.5%;
}
