#root > div > form > input[type=file] {
    margin-top: 25%;
    margin-left: 25%;
    color: white;
}

#root > div > div:nth-child(3) {
    padding-top: 5%;
}

.fast-forward-feed {
    margin-left: 45%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.item-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.item-header2 {
    display: flex;
    gap: 10px;
    color: white;
    padding-bottom: 5px;
}

.profileImage {
    width: 50px;
    height: 50px;
    border-radius: 33px;
}

.caption {
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
}

.caption:hover {
    text-decoration: underline;
}

.video {
    margin-left: 9%;
    padding-top: 0;
    top: 0;
    background-color: black;
    background-size: cover;
    border-radius: 8px;
    cursor: pointer;
}

.video-username {
    font-weight: bold;
    font-size: 18px;
}

.video-username:hover {
    cursor: pointer;
    text-decoration: underline;
}

.video-name {
    font-size: 14px;
    margin-top: 4px;
}
