#home-logo {
    margin: 0;
    margin-left: 10%;
    padding: 10px 0;
    font-size: 24px;
    color: white;
    letter-spacing: 2px;
}

.logo-text {
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#search-icon {
    color: rgb(118, 117, 117);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

#search-icon:hover {
    cursor: pointer;
    color: rgb(156, 155, 155);
}

.search-divider {
    width: 20px;
    rotate: 90deg;
    padding: 0;
    border-color: rgb(118, 117, 117);
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 60%;
    gap: 5px;
}

.fast-forward-logo {
    display: block;
}

.navigation-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 7px;
    box-shadow: rgb(255 255 255 / 12%) 0px 1px 1px;
    position: fixed;
    width: 100%;
}

.search-items {
    display: flex;
    align-items: center;
    margin-left: 23%;
    width: 340px;
    height: 45px;
    border: none;
    background: transparent;
    background-color: rgb(49, 49, 49);
    outline: none;
    padding: 0px;
    border-radius: 33px;
}

.search-bar {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: none;
    background: transparent;
    outline: none;
    padding: 0px;
    width: 252px;
    margin-left: 5%;
    height: 40px;
    color: rgba(255, 255, 255, 0.9);
    caret-color: rgb(255, 59, 92);
}

.nav-buttons {
    display: flex;
    gap: 15px;
    margin-left: 13%
}

.upload-button {
    width: 110px;
    height: 36px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    background-color: rgb(35, 35, 35);
    border-radius: 2px;
}

.upload {
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.login-button {
    width: 110px;
    height: 36px;
    border: none;
    background-color: rgb(255, 59, 92);
    border-radius: 5px;
    font-weight: bold;
}

.login-button:hover {
    cursor: pointer;
    background-color: rgb(250, 41, 76);
}

.upload-button:hover {
    cursor: pointer;
    background-color: #141414;
}

.login {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.sideBar-items {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: 8%;
    margin-top: 5%;
    position: fixed;
}

.sideBar-container-clicked {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    gap: 5px;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: rgb(255, 59, 92);;
    font-weight: 400;
    display: flex;
    gap: 10px;
    border-radius: 4px;
}

.sideBar-container-clicked:hover {
    cursor: pointer;
    background-color: #2a2a2a;
}

.sideBar-container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    gap: 5px;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    display: flex;
    gap: 10px;
    border-radius: 4px;
}

.sideBar-container:hover {
    cursor: pointer;
    background-color: #2a2a2a;
}

.sideBar-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#for-you-logo {
    font-size: 20px;
}

#following-logo {
    font-size: 20px;
}

.login-header {
    color: rgb(118, 117, 117);;
    font-size: 16px;
    line-height: 22px;
}

.login-button-sidebar {
    width: 100%;
    height: 48px;
    border-color: rgba(255, 59, 92, 1);
    background-color: rgba(255, 255, 255, .08);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.login-button-sidebar:hover {
    cursor: pointer;
    background-color: rgb(36, 16, 16);;
}

.login-sideBar {
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 59, 92, 1);
    text-decoration: none;
    font-weight: 400;
}

.login-container-sidebar {
    padding-bottom: 25px;
    border-bottom: .8px solid rgba(66, 66, 66, .5);
}

.suggested-headline {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    color: rgb(118, 117, 117);;
}

.suggested-see-all {
    color: rgb(255, 59, 92);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.suggested-feed {
    border-bottom: .8px solid rgba(66, 66, 66, .5);
}
